{% load static %}
{% block cabeza_lado %}
{% endblock cabeza_lado%}

{% block lado %}
    <div class="">

        {% if user.is_authenticated %}
        <p> Bienvenido(a) {{ request.user.first_name }} !!!</p>
        <p> Bienvenido(a) {{  request.session.session_key }} !!!</p>
        <p> mi value es : <b>{{resultado}}</b></p>

            <ul>

                <li><a href="{% url 'prueba_rol' request.user.id %}" target="#cuerpo_ppal"> usuario</li>
                    <ul>
                        <li><a href="{% url 'infocont' %}" target="#cuerpo_ppal">crear inf contacto usuario</li>
                        <li><a href="{% url 'infocontc_usu' request.user.id %}" target="#cuerpo_ppal">lista su inf contacto usuario</li>
                        <li><a href="{% url 'reg_infoperusu' %}" target="#cuerpo_ppal">crear inf personal usuario</li>
                        <li><a href="{% url 'listusuinfpers_usu' request.user.id %}" target="#cuerpo_ppal">lista su inf contacto usuario</li>
                    </ul>
                <li><a href="" target="#cuerpo_ppal">Empleos Usuarios</a></li>
                    <ul>
                        <li><a href="{% url 'listempleo_usu'  request.user.id %}" target="#cuerpo_ppal">consultar empleos</li>
                        <li><a href="{% url 'reg_empleousu' %}" target="#cuerpo_ppal">registrar empleos</li>
                        <li><a href="{% url 'listinfhab_usu'  request.user.id %}" target="#cuerpo_ppal">consultar Habilidades</li>
                        <li><a href="{% url 'reg_infhabusu' %}" target="#cuerpo_ppal">registrar Habilidades</li>
                        <li><a href="{% url 'listinfval_usu'  request.user.id %}" target="#cuerpo_ppal">consultar Habilidades validadas</li>
                        <li><a href="{% url 'reg_valhabusu' %}" target="#cuerpo_ppal">registrar Habilidades validadas</li>

                    </ul>
                <li><a href="" target="#cuerpo_ppal"> Informaion academica</a></li>
                <ul>
                    <li><a href="{% url 'reg_formacad' %}" target="#cuerpo_ppal">crear inf formacion academica usuario</li>
                    <li><a href="{% url 'listformaca_usu' request.user.id %}" target="#cuerpo_ppal">lista su inf formaciona academica usuario</li>
                    <li><a href="{% url 'reg_cursdictusu' %}" target="#cuerpo_ppal">crear cursos dictados usuario</li>
                    <li><a href="{% url 'listcursodict_usu' request.user.id  %}" target="#cuerpo_ppal">lista cursos usuario</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">Redes Sociales</a></li>
                <ul>
                    <li><a href="{% url 'listredsoci_usu' request.user.id  %}" target="#cuerpo_ppal">Consultar Redes Sociales</li>
                    <li><a href="{% url 'reg_redsocialusu' %}" target="#cuerpo_ppal">registrar Red social</li>
                </ul>
            </ul>
            <ul>
                <li><a href="{% url 'cerrar_adm_prb' %}" target="#cuerpo_ppal">Cerrar</a></li>
            </ul>
        {% else %}
            <p> No te has logeado.. </p>
            <li><a href="{% url 'ingresop' %}" target="#cuerpo_ppal">Ingresar</a></li>
        {% endif %}
    </div>
{% endblock lado %}
