{% extends 'index_adm_prb.html' %}
{% block titulo %} Listado de Módulos según el rol {% endblock titulo %}
{% block cuerpo %}
{% if form.errors %}
    <p>La lista de Módulos según el rol no se ha logrado consultar.</p>
{% endif %}
<h3>Listado de Roles por Módulos</h3>

<form method="POST">
    {{form.as_p}}

    <div>
        {% for rl_mod_rol in  object_list %}
        <label> {{ rl_mod_rol.id }} </label>
        <label> {{ rl_mod_rol.id_mod }} </label>
        <label> {{ rl_mod_rol.ls_rol}} </label>
            {% block modf_consl %}
                <li><a href="{% url 'modificar_rol_mod'  rl_mod_rol.id %}" >seleccionar</a></li><br>
            {% endblock modf_consl  %}
        {% endfor %}

</form>
{% endblock cuerpo %}
