{% load static %}
{% block cabeza_lado %}
{% endblock cabeza_lado%}

{% block lado %}
    <div class="">

        {% if user.is_authenticated %}
        <p> Bienvenido(a) {{ request.user.first_name }} !!!</p>
        <p> Bienvenido(a) {{  request.session.session_key }} !!!</p>
        <p> mi value es : <b>{{resultado}}</b></p>

            <ul>
                <li><a href="{% url 'sesion_pr' %}" target="#cuerpo_ppal">roles usuarios</li>
                <li><a href="{% url 'prueba_rol' request.user.id %}" target="#cuerpo_ppal">roles solo del usuarios</li>
                    <ul>
                        <li><a href="" target="#cuerpo_ppal">xxx</li>
                    </ul>
                <li><a href="" target="#cuerpo_ppal">administrar Usuarios</a></li>
                    <ul>
                        <li><a href="{% url 'consulta_usuarios' %}" target="#cuerpo_ppal">consultar usuarios</li>
                        <li><a href="{% url 'crea_usuprb' %}" target="#cuerpo_ppal">registrar usuarios</li>
                        <li><a href="{% url 'ls_mod_usu' %}" target="#cuerpo_ppal">Modificar usuarios</li>
                    </ul>
                <li><a href="" target="#cuerpo_ppal">administrar Grupos</a></li>
                <ul>
                    <li><a href="{% url 'cons_usugr' %}" target="#cuerpo_ppal">Consultar grupos</li>
                    <li><a href="{% url 'crear_usugr' %}" target="#cuerpo_ppal">registrar grupos</li>
                    <li><a href="{% url 'ls_mod_usugr' %}" target="#cuerpo_ppal">Modificar grupos</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">administrar Instituciones</a></li>
                <ul>
                    <li><a href="{% url 'cons_usui' %}" target="#cuerpo_ppal">Consultar Institucion</li>
                    <li><a href="{% url 'crea_usuiprb' %}" target="#cuerpo_ppal">registrar Institucion</li>
                    <li><a href="{% url 'consu_usui_mod' %} " target="#cuerpo_ppal">Modificar Intitucion</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">administrar Módulos</a></li>
                <ul>
                    <li><a href="{% url 'cons_mod' %}" target="#cuerpo_ppal">Consultar Modulos</li>
                    <li><a href="{% url 'reg_mod' %}" target="#cuerpo_ppal">registrar Modulos</li>
                    <li><a href="{% url 'ls_modificar_mod' %}" target="#cuerpo_ppal">Modificar Modulos</li>
                </ul>
                    <li><a href="" target="#cuerpo_ppal">administrar aplicaciones</a></li>
                <ul>
                    <li><a href="{% url 'consulta_app' %}" target="#cuerpo_ppal">Consultar Aplicaciones</li>
                    <li><a href="{% url 'reg_app' %}" target="#cuerpo_ppal">registrar Aplicaciones</li>
                    <li><a href="{% url 'ls_modificar_app' %}" target="#cuerpo_ppal">Modificar Aplicaciones</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">funciones</a></li>
                <ul>
                    <li><a href="{% url 'consulta_funciones' %}" target="#cuerpo_ppal">Consultar funciones</li>
                    <li><a href="{% url 'reg_func' %}" target="#cuerpo_ppal">registrar funciones</li>
                    <li><a href="{% url 'ls_modificar_func' %}" target="#cuerpo_ppal">Modificar funciones</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">funciones aplicativos</a></li>
                <ul>
                    <li><a href="{% url 'con_func_app' %}" target="#cuerpo_ppal">Funciones segun apps</li>
                    <li><a href="{% url 'reg_func_app' %}" target="#cuerpo_ppal">registrar Funciones app</li>
                    <li><a href="{% url 'ls_modificar_func_app' %}" target="#cuerpo_ppal">modificar Funciones app</li>
                </ul>
                <li><a href="" target="#cuerpo_ppal">funciones roles</a></li>
                <ul>
                    <li><a href="" target="#cuerpo_ppal">Funciones segun roles lista</li>
                    <li><a href="{% url 'con_func_app' %}" target="#cuerpo_ppal">Funciones segun apps</li>
                    <li><a href="" target="#cuerpo_ppal">modificar Funciones roles</li>
                </ul>
            </ul>
            <ul>
                <li><a href="{% url 'cerrar_adm_prb' %}" target="#cuerpo_ppal">Cerrar</a></li>
            </ul>
        {% else %}
            <p> No te has logeado.. </p>
            <li><a href="{% url 'ingresop' %}" target="#cuerpo_ppal">Ingresar</a></li>
        {% endif %}
    </div>
{% endblock lado %}
